<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFDLabs.Analytics.Google.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MFDLabs.Analytics.Google.Properties.Settings>
            <setting name="GoogleAnalyticsURL" serializeAs="String">
                <value>http://www.google-analytics.com</value>
            </setting>
            <setting name="GAClientMaxRedirects" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GAClientRequestTimeout" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="GAClientCircuitBreakerFailuresAllowedBeforeTrip"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GAClientCircuitBreakerRetryInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
        </MFDLabs.Analytics.Google.Properties.Settings>
    </applicationSettings>
</configuration>