<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Grid.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Networking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Diagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Logging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <Grid.Bot.Properties.Settings>
      <setting name="BotToken" serializeAs="String">
        <value>${{ env.PROD_BOT_TOKEN }}</value>
      </setting>
      <setting name="PersistLocalLogs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Prefix" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="AllowParsingForBots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowAllChannels" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReasonForDying" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Admins" serializeAs="String">
        <value>360078081224081409</value>
      </setting>
      <setting name="ShouldLogDiscordInternals" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BotGlobalStatusMessage" serializeAs="String">
        <value>Global test for new .NET stuff.</value>
      </setting>
      <setting name="BotGlobalUserStatus" serializeAs="String">
        <value>Online</value>
      </setting>
      <setting name="LoggingUtilDataName" serializeAs="String">
        <value>bot</value>
      </setting>
      <setting name="AllowedChannels" serializeAs="String">
        <value />
      </setting>
      <setting name="IsAllowedToEchoBackNotFoundCommandException" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BotOwnerID" serializeAs="String">
        <value>360078081224081409</value>
      </setting>
      <setting name="RegisterCommandRegistryAtAppStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenServiceOnEndpointNotFoundException" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoapUtilityRemoteServicePort" serializeAs="String">
        <value>53640</value>
      </setting>
      <setting name="SoapUtilityRemoteServiceTimeout" serializeAs="String">
        <value>00:00:22</value>
      </setting>
      <setting name="ScreenshotRelayExecutableName" serializeAs="String">
        <value>Grid.Screenshot.Relay.exe</value>
      </setting>
      <setting name="ScreenshotRelayActivationTimeout" serializeAs="String">
        <value>00:00:01.5000000</value>
      </setting>
      <setting name="ScreenshotRelayOutputFilename" serializeAs="String">
        <value>WindowShot.png</value>
      </setting>
      <setting name="GridServerDeployerExecutableName" serializeAs="String">
        <value>Grid.Deployer.exe</value>
      </setting>
      <setting name="GridServerDeployerShouldShowLauncherWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenshotRelayShouldShowLauncherWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BotGlobalStreamURL" serializeAs="String">
        <value>https://www.twitch.tv/nkpetko</value>
      </setting>
      <setting name="BotGlobalActivityType" serializeAs="String">
        <value>Streaming</value>
      </setting>
      <setting name="RenderQueueDelay" serializeAs="String">
        <value>00:00:01.5000000</value>
      </setting>
      <setting name="UsersServiceRemoteURL" serializeAs="String">
        <value>https://users.roblox.com</value>
      </setting>
      <setting name="UsersServiceMaxRedirects" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UsersServiceRequestTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="UsersServiceMaxCircuitBreakerFailuresBeforeTrip"
          serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UsersServiceCircuitBreakerRetryInterval" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="RenderingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxUserIDSize" serializeAs="String">
        <value>214748364887</value>
      </setting>
      <setting name="RemoteRenderTaskAvatarFetchHost" serializeAs="String">
        <value>avatar.sitetest4.robloxlabs.com</value>
      </setting>
      <setting name="RemoteRenderAssetFetchUrl" serializeAs="String">
        <value>https://assetdelivery.roblox.com/v1</value>
      </setting>
      <setting name="RemoteRenderAvatarFetchUriPart" serializeAs="String">
        <value>/v1/avatar-fetch</value>
      </setting>
      <setting name="RenderResultFileName" serializeAs="String">
        <value>Thumb.png</value>
      </setting>
      <setting name="RenderPlaceID" serializeAs="String">
        <value>2537274968</value>
      </setting>
      <setting name="RenderSizeX" serializeAs="String">
        <value>1068</value>
      </setting>
      <setting name="RenderSizeY" serializeAs="String">
        <value>1068</value>
      </setting>
      <setting name="CareToLeakSensitiveExceptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KillCommandShouldForce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlacklistedScriptKeywords" serializeAs="String">
        <value>HttpGet,HttpPost,fenv,while true do,SetUploadUrl,crash__(,do print(,do print(),math.huge do</value>
      </setting>
      <setting name="ScriptExecutionSupportUnicode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScriptExectionCareAboutBadTextCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnLaunchWarnAboutDebugMode" serializeAs="String">
        <value />
      </setting>
      <setting name="ScriptExectionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewConsoleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsReloadInterval" serializeAs="String">
        <value>00:00:01.5</value>
      </setting>
      <setting name="GridServerRegistryKeyName" serializeAs="String">
        <value>HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\ROBLOX Corporation\Roblox</value>
      </setting>
      <setting name="GridServerRegistryValueName" serializeAs="String">
        <value>RccServicePath</value>
      </setting>
      <setting name="AllowAdminScripts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdminScriptsOnlyAllowedByOwner" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnLaunchWarnAboutAdminMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExecuteCommandsInNewThread" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScriptExecutionPrependBaseURL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BaseURL" serializeAs="String">
        <value>https://www.sitetest4.robloxlabs.com</value>
      </setting>
      <setting name="NewThreadsOnlyAvailableForAdmins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowNullsWhenUpdatingSetting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowLogSettingsInPublicChannels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderJobTimeoutInSeconds" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="RenderJobShouldDeleteResult" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAdminsToBypassDisabledCommands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShouldLaunchCounterServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CounterServerPort" serializeAs="String">
        <value>49151</value>
      </setting>
      <setting name="RenderThumbnailTypeShouldForceCloseup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserUtilityShouldResolveBannedUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideProcessWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenGridServerAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderQueueExpiration" serializeAs="String">
        <value>02:30:00</value>
      </setting>
      <setting name="ScreenshotRelayExpiration" serializeAs="String">
        <value>00:25:00</value>
      </setting>
      <setting name="DebugAllowTaskCanceledExceptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopProcessingOnNullPacketItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HigherPrivilagedUsers" serializeAs="String">
        <value />
      </setting>
      <setting name="RbxDiscordUsersServiceRemoteURL" serializeAs="String">
        <value>https://verify.eryn.io</value>
      </setting>
      <setting name="RbxDiscordUsersServiceMaxRedirects" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RbxDiscordUsersServiceRequestTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="RbxDiscordUsersServiceMaxCircuitBreakerFailuresBeforeTrip"
          serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RbxDiscordUsersServiceCircuitBreakerRetryInterval" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="GoogleAnalyticsTrackerID" serializeAs="String">
        <value>UA-201817978-3</value>
      </setting>
      <setting name="GAOnMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommandRegistryOnlyMatchAlphabetCharactersForCommandName"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SingleInstancedGridServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridServerArbiterInstanceThrowExceptionIfReachedMaxAttempts"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RestartShouldReOpenAllGridServerInstances" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStartBatchAllocate25ArbiterInstances" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStartCloseAllOpenGridServerInstances" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WtfCommandsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScriptExecutionRequireProtections" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScriptExecutionQueueDelay" serializeAs="String">
        <value>00:00:00.2500000</value>
      </setting>
      <setting name="ScriptExecutionQueueExpiration" serializeAs="String">
        <value>02:00:00</value>
      </setting>
      <setting name="CrashHandlerURL" serializeAs="String">
        <value>http://mfdlabs.sp.backtrace.io:6097</value>
      </setting>
      <setting name="CrashHandlerAccessToken" serializeAs="String">
        <value>9f55e8c1e2a0bc06f874371f33d7c24e38b88c48f3c3cd853fc95174a13beb9b</value>
      </setting>
      <setting name="CrashHandlerExitWhenDone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GoogleAnalyticsMetricsID" serializeAs="String">
        <value>G-SNXMMYYM8S</value>
      </setting>
      <setting name="GoogleAnalyticsApiSecret" serializeAs="String">
        <value>IV7CxXcBRWCQfUkoi91Cgg</value>
      </setting>
      <setting name="GoogleAnalyticsEnableServerSideValidation" serializeAs="String">
        <value>False</value>
      </setting>
    </Grid.Bot.Properties.Settings>
    <Networking.Properties.Settings>
      <setting name="LocalIPOverride" serializeAs="String">
        <value />
      </setting>
    </Networking.Properties.Settings>
    <Diagnostics.Properties.Settings>
      <setting name="MachineHostOverride" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineIDOverride" serializeAs="String">
        <value />
      </setting>
    </Diagnostics.Properties.Settings>
    <Logging.Properties.Settings>
      <setting name="DefaultLoggerName" serializeAs="String">
        <value>bot</value>
      </setting>
    </Logging.Properties.Settings>
  </applicationSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>