# "Who Owns This Sector?"
MFDLABS-WOTS-ASSEMBLIES.pfx @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Threading/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Text/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Reflection/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Pipeline/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Logging/ @mfdlabs/who-owns-this-sector

# "BadLion"
MFDLABS-BADLION-ASSEMBLIES.pfx @mfdlabs/badlion
Assemblies/MFDLabs.EventLog/ @mfdlabs/badlion

# "Grid"
MFDLABS-GRID-ASSEMBLIES.pfx @mfdlabs/grid
Extensions/MFDLabs.Grid.Screenshot.Relay/ @mfdlabs/grid
Extensions/MFDLabs.Grid.Deployer/ @mfdlabs/grid
Assemblies/MFDLabs.Grid.ComputeCloud/ @mfdlabs/grid
Assemblies/MFDLabs.Grid.Commands/ @mfdlabs/grid
# Says "Internal Tech" on the CODEOWNERS registry, but it's actually by the grid team.
MFDLabs.Grid.Bot/ @mfdlabs/grid 

# "Metrics"
MFDLABS-METRICS-ASSEMBLIES.pfx @mfdlabs/metrics
Assemblies/MFDLabs.Tracing.Core/ @mfdlabs/metrics
Assemblies/MFDLabs.Instrumentation/ @mfdlabs/metrics

# "Networking"
MFDLABS-NET-TEAM-ASSEMBLIES.pfx @mfdlabs/networking-owk
Assemblies/MFDLabs.Networking @mfdlabs/networking-owk

# "Graphics"
MFDLABS-RENDERING-ASSEMBLIES.pfx @mfdlabs/graphics
Assemblies/MFDLabs.Drawing/ @mfdlabs/graphics

# "Roblox"
# https://codeowners.git.mfdlabs.local/ui/@mfdlabs-roblox/backend-systems
MFDLABS-ROBLOX-ASSEMBLIES.pfx @mfdlabs-roblox/backend-systems
Assemblies/MFDLabs.Users.Client/ @mfdlabs-roblox/backend-systems
Assemblies/MFDLabs.RequestContext/ @mfdlabs-roblox/backend-systems

# "Robotics"
MFDLABS-ROBOTICS-ASSEMBLIES.pfx @mfdlabs/robotics
Assemblies/MFDLabs.Concurrency/ @mfdlabs/robotics
Assemblies/MFDLabs.Sentinels/ @mfdlabs/robotics

# "Idiots"
MFDLABS-STUFFS-ASSEMBLIES.pfx @mfdlabs/idiots
Assemblies/MFDLabs.ErrorHandling/ @mfdlabs/idiots

# "Tech"
MFDLABS-TECH-TEAM-ASSEMBLIES.pfx @mfdlabs/tech
Assemblies/MFDLabs.Diagnostics/ @mfdlabs/tech

# "Web"
MFDLABS-WEB-ASSEMBLIES.pfx @mfdlabs/web
Assemblies/MFDLabs.Http.ServiceClient/ @mfdlabs/web
Assemblies/MFDLabs.Http.Client.Monitoring/ @mfdlabs/web
Assemblies/MFDLabs.Http.Client/ @mfdlabs/web
Assemblies/MFDLabs.Http/ @mfdlabs/web
