<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFDLabs.Grid.Arbiter.Test.Component.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MFDLabs.Grid.Arbiter.Test.Component.Properties.Settings>
            <setting name="ScriptExectionCareAboutBadTextCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlacklistedScriptKeywords" serializeAs="String">
                <value>HttpGet,HttpPost,fenv,while true do,SetUploadUrl,crash__(,do print(,do print(),math.huge do,require,loadstring,repeat until,while,printidentity,for,ThumbnailGenerator</value>
            </setting>
        </MFDLabs.Grid.Arbiter.Test.Component.Properties.Settings>
    </applicationSettings>
</configuration>