<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFDLabs.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MFDLabs.Configuration.Properties.Settings>
            <setting name="ConfigurationLoggingUseSystemLogger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VaultConfigurationFetcherBackoffBaseMilliseconds"
                serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VaultConfigurationFetcherPageSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ConsulKVConfigurationFetcherPageSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ConsulKVConfigurationFetcherBackoffBaseMilliseconds"
                serializeAs="String">
                <value>100</value>
            </setting>
        </MFDLabs.Configuration.Properties.Settings>
    </applicationSettings>
</configuration>