<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MFDLabs.Grid.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MFDLabs.Networking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MFDLabs.Diagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MFDLabs.Logging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="mfdlabsVaultConfiguration" type="MFDLabs.Configuration.Sections.Vault.VaultProviderConfigurationSection, MFDLabs.Configuration" requirePermission="false" />
  </configSections>
  <mfdlabsVaultConfiguration>
    <vaultConfigurationGroups>
      <vaultConfigurationGroup
        groupName="*"
        address="${{ env.VAULT_ADDR }}"
        authType="AppRole"
        credential="${{ env.VAULT_APPROLE }}"
        updateInterval="02:00:00" />
    </vaultConfigurationGroups>
  </mfdlabsVaultConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <MFDLabs.Networking.Properties.Settings>
      <setting name="LocalIPOverride" serializeAs="String">
        <value />
      </setting>
    </MFDLabs.Networking.Properties.Settings>
    <MFDLabs.Diagnostics.Properties.Settings>
      <setting name="MachineIDOverride" serializeAs="String">
        <value>bot-machine</value>
      </setting>
    </MFDLabs.Diagnostics.Properties.Settings>
    <MFDLabs.Logging.Properties.Settings>
      <setting name="DefaultLoggerName" serializeAs="String">
        <value>bot</value>
      </setting>
    </MFDLabs.Logging.Properties.Settings>
  </applicationSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
