<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MFDLabs.Grid.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MFDLabs.Grid.Bot.Properties.Settings>
            <setting name="BotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PersistLocalLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowParsingForBots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowAllChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReasonForDying" serializeAs="String">
                <value />
            </setting>
            <setting name="Admins" serializeAs="String">
                <value />
            </setting>
            <setting name="BotGlobalStatusMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="BotGlobalUserStatus" serializeAs="String">
                <value>Offline</value>
            </setting>
            <setting name="LoggingUtilDataName" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowedChannels" serializeAs="String">
                <value />
            </setting>
            <setting name="SoapUtilityRemoteServicePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoapUtilityRemoteServiceTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ScreenshotRelayExecutableName" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotRelayActivationTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ScreenshotRelayOutputFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="GridServerDeployerExecutableName" serializeAs="String">
                <value />
            </setting>
            <setting name="GridServerDeployerShouldShowLauncherWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenshotRelayShouldShowLauncherWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BotGlobalStreamURL" serializeAs="String">
                <value />
            </setting>
            <setting name="BotGlobalActivityType" serializeAs="String">
                <value>Playing</value>
            </setting>
            <setting name="RenderQueueDelay" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UsersServiceRemoteURL" serializeAs="String">
                <value />
            </setting>
            <setting name="UsersServiceMaxRedirects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsersServiceRequestTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UsersServiceMaxCircuitBreakerFailuresBeforeTrip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsersServiceCircuitBreakerRetryInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="MaxUserIDSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteRenderTaskAvatarFetchHost" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRenderAssetFetchUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRenderAvatarFetchUriPart" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderResultFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderPlaceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderSizeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderSizeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CareToLeakSensitiveExceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillCommandShouldForce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlacklistedScriptKeywords" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptExectionSupportUnicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptExectionCareAboutBadTextCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldLogDiscordInternals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAllowedToEchoBackNotFoundCommandException" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegisterCommandRegistryAtAppStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenServiceOnEndpointNotFoundException" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnLaunchWarnAboutDebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptExectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewConsoleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsReloadInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="GridServerRegistryKeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="GridServerRegistryValueName" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowAdminScripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminScriptsOnlyAllowedByOwner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnLaunchWarnAboutAdminMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecuteCommandsInNewThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminScriptPrependBaseURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="NewThreadsOnlyAvailableForAdmins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowNullsWhenUpdatingSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowLogSettingsInPublicChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderJobTimeoutInSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderJobShouldDeleteResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowAdminsToBypassDisabledCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldLaunchCounterServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CounterServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderThumbnailTypeShouldForceCloseup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserUtilityShouldResolveBannedUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideProcessWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenGridServerAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderQueueExpiration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ScreenshotRelayExpiration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="DebugAllowTaskCanceledExceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopProcessingOnNullPacketItem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HigherPrivilagedUsers" serializeAs="String">
                <value />
            </setting>
        </MFDLabs.Grid.Bot.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>