<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MFDLabs.Grid.AutoDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MFDLabs.Networking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MFDLabs.Diagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MFDLabs.Logging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <MFDLabs.Grid.AutoDeployer.Properties.Settings>
      <setting name="GithubEnterpriseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="VersioningRegistryVersionKeyName" serializeAs="String">
        <value>AppVersion</value>
      </setting>
      <setting name="CreateDeploymentPathIfNotExists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GithubToken" serializeAs="String">
        <value>${{ env.GITHUB_TOKEN }}</value>
      </setting>
      <setting name="VersioningRegistrySubKey" serializeAs="String">
        <value>SOFTWARE\MFDLABS\MFDLabs.Grid.Bot\Deployments</value>
      </setting>
      <setting name="DeploymentPath" serializeAs="String">
        <value>C:\Test</value>
      </setting>
      <setting name="GithubAccountOrOrganizationName" serializeAs="String">
        <value>nkpetko</value>
      </setting>
      <setting name="GithubRepositoryName" serializeAs="String">
        <value>releases-test</value>
      </setting>
      <setting name="DeploymentPrimaryExecutableName" serializeAs="String">
        <value>mfdlabs.grid.bot.exe</value>
      </setting>
      <setting name="PollingInterval" serializeAs="String">
        <value>00:00:00</value>
      </setting>
    </MFDLabs.Grid.AutoDeployer.Properties.Settings>
    <MFDLabs.Networking.Properties.Settings>
      <setting name="LocalIPOverride" serializeAs="String">
        <value />
      </setting>
    </MFDLabs.Networking.Properties.Settings>
    <MFDLabs.Diagnostics.Properties.Settings>
      <setting name="MachineHostOverride" serializeAs="String">
        <value />
      </setting>
      <setting name="MachineIDOverride" serializeAs="String">
        <value />
      </setting>
    </MFDLabs.Diagnostics.Properties.Settings>
    <MFDLabs.Logging.Properties.Settings>
      <setting name="DefaultLoggerName" serializeAs="String">
        <value>mfdlabs.grid.autodeployer.console</value>
      </setting>
    </MFDLabs.Logging.Properties.Settings>
  </applicationSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>