<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFDLabs.Grid.Deployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MFDLabs.Grid.Deployer.Properties.Settings>
            <setting name="GridServerRegistryKeyName" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\ROBLOX Corporation\Roblox</value>
            </setting>
            <setting name="GridServerRegistryValueName" serializeAs="String">
                <value>RccServicePath</value>
            </setting>
            <setting name="GridServerExecutableName" serializeAs="String">
                <value>RCCService.exe</value>
            </setting>
            <setting name="GridServerExecutableLaunchArguments" serializeAs="String">
                <value>53640 -Console -Verbose</value>
            </setting>
            <setting name="WebServerLookupHost" serializeAs="String">
                <value>lms.simulpong.com</value>
            </setting>
            <setting name="WebServerWorkspacePath" serializeAs="String">
                <value>C:\buildAgent\work\0800fc577294c34f</value>
            </setting>
            <setting name="WebServerWorkspaceCommand" serializeAs="String">
                <value>npm run Build-And-Run</value>
            </setting>
            <setting name="GridServerLookupPort" serializeAs="String">
                <value>53640</value>
            </setting>
            <setting name="GridServerLookupHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MaxAttemptsToLaunchWebServer" serializeAs="String">
                <value>15</value>
            </setting>
        </MFDLabs.Grid.Deployer.Properties.Settings>
    </applicationSettings>
</configuration>