<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFDLabs.Grid.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MFDLabs.Grid.Bot.Properties.Settings>
            <setting name="BotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowParsingForBots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowAllChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReasonForDying" serializeAs="String">
                <value />
            </setting>
            <setting name="Admins" serializeAs="String">
                <value />
            </setting>
            <setting name="BotGlobalStatusMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="BotGlobalUserStatus" serializeAs="String">
                <value>Offline</value>
            </setting>
            <setting name="AllowedChannels" serializeAs="String">
                <value />
            </setting>
            <setting name="GridServerArbiterDefaultTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="BotGlobalStreamURL" serializeAs="String">
                <value />
            </setting>
            <setting name="BotGlobalActivityType" serializeAs="String">
                <value>Playing</value>
            </setting>
            <setting name="UsersServiceRemoteURL" serializeAs="String">
                <value />
            </setting>
            <setting name="UsersServiceMaxRedirects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsersServiceRequestTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UsersServiceMaxCircuitBreakerFailuresBeforeTrip"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsersServiceCircuitBreakerRetryInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="MaxUserIDSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteRenderTaskAvatarFetchHost" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRenderAssetFetchUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteRenderAvatarFetchUriPart" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderResultFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderPlaceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderSizeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderSizeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CareToLeakSensitiveExceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillCommandShouldForce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlacklistedScriptKeywords" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptExecutionSupportUnicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptExectionCareAboutBadTextCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldLogDiscordInternals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAllowedToEchoBackNotFoundCommandException" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegisterCommandRegistryAtAppStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnLaunchWarnAboutDebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridServerRegistryKeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="GridServerRegistryValueName" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowAdminScripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnLaunchWarnAboutAdminMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecuteCommandsInNewThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptExecutionPrependBaseURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="NewThreadsOnlyAvailableForAdmins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowNullsWhenUpdatingSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowLogSettingsInPublicChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderJobTimeoutInSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowAdminsToBypassDisabledCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldLaunchCounterServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CounterServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RenderThumbnailTypeShouldForceCloseup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserUtilityShouldResolveBannedUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenGridServerAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugAllowTaskCanceledExceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HigherPrivilagedUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="RbxDiscordUsersServiceRemoteURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RbxDiscordUsersServiceMaxRedirects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RbxDiscordUsersServiceRequestTimeout" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="RbxDiscordUsersServiceMaxCircuitBreakerFailuresBeforeTrip"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RbxDiscordUsersServiceCircuitBreakerRetryInterval"
                serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="GoogleAnalyticsTrackerID" serializeAs="String">
                <value>UA-201817978-5</value>
            </setting>
            <setting name="CommandRegistryOnlyMatchAlphabetCharactersForCommandName"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnStartCloseAllOpenGridServerInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptExecutionRequireProtections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrashHandlerURL" serializeAs="String">
                <value>http://mfdlabs.sp.backtrace.io:6097</value>
            </setting>
            <setting name="CrashHandlerAccessToken" serializeAs="String">
                <value>9f55e8c1e2a0bc06f874371f33d7c24e38b88c48f3c3cd853fc95174a13beb9b</value>
            </setting>
            <setting name="CrashHandlerExitWhenDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordConfigurationVaultToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordConfigurationVaultAddress" serializeAs="String">
                <value>http://localhost:8200</value>
            </setting>
            <setting name="BlacklistedUsernamesForRendering" serializeAs="String">
                <value />
            </setting>
            <setting name="BlacklistedDiscordUserIds" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsulServiceRegistrationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsulServiceRegistrationUrl" serializeAs="String">
                <value>http://localhost:8500</value>
            </setting>
            <setting name="ConsulServiceRegistrationAclToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ExceptionBasedAutomoderatorLeaseTimeSpanAddition"
                serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ExceptionBasedAutomoderatorMaxExceptionHitsBeforeBlacklist"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExceptionBasedAutomoderatorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderWorkQueueRolloutPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewViewGridServerConsoleWorkQueueRolloutPercentage"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewScriptExecutionWorkQueueRolloutPercentage"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridServerArbiterQueueUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShardedClientTotalNumberOfShards" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WhitelistedCounterServerCidrs" serializeAs="String">
                <value>127.0.0.0/8,192.168.0.0/16,10.0.0.0/8,172.16.0.0/12</value>
            </setting>
            <setting name="GoogleAnalyticsMetricsID" serializeAs="String">
                <value>G-1DBF9PK9KT</value>
            </setting>
            <setting name="GoogleAnalyticsApiSecret" serializeAs="String">
                <value>AFJlwquBQqOW_KvPCG5DlQ</value>
            </setting>
            <setting name="GoogleAnalyticsEnableServerSideValidation" serializeAs="String">
                <value>False</value>
            </setting>
        </MFDLabs.Grid.Bot.Properties.Settings>
    </applicationSettings>
</configuration>